.carritoCard{
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.margenes{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 100px;
}

.ordenProd{
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;

}

.imgCarrito{
    width: 100%;
    height: auto;
}

.descripcionCarrito{
    width: 70%;
}

.boton{
    width: 35%;
}


h1, h2{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

.verItems{
    text-decoration: underline;
}

.completaTusDatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.datoForm{
    height: 30px;
    border: 1px solid #ced4da;
border-radius: 10px;
width: 30%;
margin-bottom: 10px;
font-family: 'Josefin Sans', sans-serif;

}

.comprar{
    width: 10%;
    background-color: #ff60ca;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 10px;
}

.eliminar{
    background-color: #ff60ca;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    width: 50%;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}


.eliminar:hover {
    color:rgb(0, 0, 0);
    }
.boton1{
    background-color: #ff60ca;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    width: 30%;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}

.boton1:hover {
    color:rgb(0, 0, 0);
    }
.mp {
    width:100%;
    height: auto;
}

@media (max-width: 576px) {
    .mp {
        max-width: 100%;
    }
}