.cartCard{
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.cardProducto{
    display: flex;
    align-items: center;
}

.imgCart{
    width: 15%;
}

.imgCarrito{
    width: 100%;
    height: auto;
    padding: 7px;
}

.descripcionCarrito{
    width: 70%;
    padding: 5px;
}

.boton{
    width: 35%;
}

.eliminar{
    width: 70%;
    background-color: #ff60ca;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.vaciarCarrito{
    background-color: #ff60ca;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    width: 20%;
    margin: auto;
}

h1, h2{
    text-align: center;
}

.verItems{
    text-decoration: underline;
}

.completaTusDatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form{
    height: 30px;
    border: 1px solid #ced4da;
border-radius: 10px;
width: 30%;
margin-bottom: 10px;
}

.comprar{
    width: 10%;
    background-color: #ff60ca;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 10px;
}