.producto-Card{
    width: 70%;
    height: auto;
    background-color: rgb(255, 0, 212);
    border-radius: 5px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.imgContainer{
    width: 50%;
    padding: 10px
}

.img{
    width: 100%;
    height: auto;
}

.descriptionContainer{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {
    .productoCard{
        flex-wrap: wrap;
    }
    .imgContainer{
        width: 100%;
    }
    .descriptionContainer{
        width: 100%;
    }
}