.item-Card{
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-color: #fa6cf3;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    padding: 1.2rem;
    display: inline-block;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}



.imagen{
    width: 100%;
    height: auto;
}

.detalle{
    background-color: rgb(252, 0, 210);
    color: white;
    border-radius: 8px;
    padding: 4px 7px;
    text-decoration: none;

}

.detalle:hover {
color:rgb(247, 162, 228);
}