@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Pacifico&display=swap');


.navbar{
    background: #ff60ca;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.lista{
    display: flex;
    align-items: center;
}

.navLink{
    color: rgb(255, 255, 255);
    padding: 3px 15px;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;


}

.navLink:hover{
    background-color: rgb(247, 0, 214);
    color: rgb(0, 0, 0);
}

li{
    list-style: none;
}

.nombre h1{
    color: rgb(255, 255, 255);
    padding: 3px 6px;
    font-family: 'Pacifico', cursive;
    font-size: 60px;

}

a:link, a:visited, a:active {
    text-decoration:none;
}
@media (max-width: 576px) {
    .navbar{
        justify-content: center;
    }
}