.App {
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: black;
  background-color: #eee
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carritoimg img {
  width: 35px;
  height: 35px;
}

.carritoimg p{
  float: right;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  color:rgb(255, 0, 212);
}


